<header>
  <nav class="navbar fixed-top navbar-dark bg-primary">
    <img
      src="./assets/imagens/logo.png"
      [routerLink]="['']"
      routerLinkActive="active"
      class="centerImg"
    />

    <div class="menu-nav">
      <button class="btn btn-nav" type="button" [routerLink]="['']"
      routerLinkActive="active">
        Home
      </button>
      <label class="pip-nav">|</label>
      <button class="btn btn-nav" type="button" [routerLink]="['/condutor']"
      routerLinkActive="active">
        Condutores
      </button>
      <label class="pip-nav">|</label>

      <button class="btn btn-nav" type="button" [routerLink]="['/veiculo']"
      routerLinkActive="active">
        Veículos
      </button>
    </div>
    <button class="btn btn-danger btn-logout" type="button" (click)="Logout()">
      Sair
    </button>
  </nav>
</header>

<section>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</section>

<footer class="mt-2 p-2 text-center"></footer>
