header{
    height: 70px;
}

.navbar {
    height: 50px;
    background: linear-gradient(
90deg
, #fff 10%, #034EA2 90%);
    padding: 0;
}

.menu-nav{
  position: absolute;
  right: 5%;
}

.pip-nav{
  color: #fff;
}

.btn-nav{
  position: relative;
  right: 5px;
  color: #fff;
}



