<div class="create-account">
    <h1>Cadastro de Condutor</h1>
    <div class="row">

        <div class="col-md-6">
            <div class="input-group form-group ">
                <input placeholder="Busca por CPF" type="text" mask="000.000.000-00"  name="cpfBuscar" class="form-control"
                    [(ngModel)]="cpfBuscar" required>
            </div>
        </div>

        <div class="col-md-3">
            <button class="btn btn-blue" (click)="Buscar()">Busca Condutor</button>
        </div>

        <div class="col-md-3">
            <button class="btn btn-warning" (click)="Limpar()">Limpar Campos</button>
        </div>
        
    </div>

    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="row">
            <div class="col-md-6">
                <label>Nome</label>
                <div class="input-group form-group ">
                    <input name="con_c_nome" class="form-control" [(ngModel)]="service.formData.con_c_nome" required>
                </div>
            </div>
            <div class="col-md-6">
                <label>CPF</label>
                <div class="input-group form-group ">
                    <input name="con_c_cpf" class="form-control" type="text" mask="000.000.000-00" maxlength="15" min="15"[(ngModel)]="service.formData.con_c_cpf" required>
                </div>
            </div>
            <div class="col-md-6">
                <label>CNH</label>
                <div class="input-group form-group ">
                    <input name="con_c_cnh" class="form-control" [(ngModel)]="service.formData.con_c_cnh" required>
                </div>
            </div>

            <div class="col-md-6">
                <label>Telefone</label>
                <div class="input-group form-group ">
                    <input name="con_c_telefone" class="form-control" type="text" mask="(00) 0000-00000" [(ngModel)]="service.formData.con_c_telefone" required>
                </div>
            </div>

            <div class="col-md-6">
                <label>E-mail</label>
                <div class="input-group form-group ">
                    <input name="con_c_email" class="form-control" type="email" [(ngModel)]="service.formData.con_c_email" required>
                </div>
            </div>

            <div class="col-md-6">
                <label>Data de nascimento</label>
                <div class="input-group form-group ">
                    <input name="con_d_nascimento" class="form-control" type="date" [(ngModel)]="service.formData.con_d_nascimento" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-success" type="submit" [disabled]='form.invalid'>
                   {{service.formData.con_n_codigo == 0 ? "Adicionar Condutor" : "Atualizar Condutor"}}
                </button>
            </div>
            <div class="col-md-3" *ngIf="service.formData.con_n_codigo != 0">
                <button class="btn btn-danger" type="button" (click)="onDelete()">
                    Excluir Condutor
                </button>
            </div>

        </div>
    </form>

    

</div>