<div class="create-account">
    <h1>Cadastro de Condutor</h1>
    <div class="row">

        <div class="col-md-6">
            <div class="input-group form-group ">
                <input placeholder="Busca por CPF" type="text" mask="000.000.000-00"  name="cpfBuscar" class="form-control"
                    [(ngModel)]="cpfBuscar" required>
            </div>
        </div>

        <div class="col-md-3">
            <button class="btn btn-blue" (click)="Buscar()">Busca Condutor</button>
        </div>

        <div class="col-md-3">
            <button class="btn btn-warning" (click)="Limpar()">Limpar Campos</button>
        </div>

    </div>

    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group form-group ">
                    <input placeholder="Nome" name="Nome" class="form-control" [(ngModel)]="service.formData.nome" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group form-group ">
                    <input placeholder="CPF" name="CPF" class="form-control" type="text" mask="000.000.000-00" maxlength="15" min="15"[(ngModel)]="service.formData.cpf" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group form-group ">
                    <input placeholder="CNH" name="CNH" class="form-control" [(ngModel)]="service.formData.cnh" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group form-group ">
                    <input placeholder="Telefone" name="Telefone" class="form-control" type="text" mask="(00) 0000-00000" [(ngModel)]="service.formData.telefone" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group form-group ">
                    <input placeholder="E-mail" name="Email" class="form-control" type="email" [(ngModel)]="service.formData.email" required>
                </div>
            </div>
            <div class="col-md-2">
              <div class="input-group form-group ">
                <label>Data de Nascimento</label>
              </div>
          </div>
            <div class="col-md-4">
                <div class="input-group form-group ">
                    <input name="Nascimento" class="form-control" type="date" [(ngModel)]="service.formData.nascimento" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-success" type="submit" [disabled]='form.invalid'>
                   {{service.formData.id == 0 ? "Adicionar Condutor" : "Atualizar Condutor"}}
                </button>
            </div>
            <div class="col-md-3" *ngIf="service.formData.id != 0">
                <button class="btn btn-danger" type="button" (click)="onDelete()">
                    Excluir Condutor
                </button>
            </div>

        </div>
    </form>
    <hr>
    <h2>Histórico de Veículos</h2>
    <table class="table table-striped" mdbTable mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
      <thead class="thead-dark">
        <tr>
          <th>Placa</th>
          <th>Modelo</th>
          <th>Marca</th>
          <th>Cor</th>
          <th>Ano de Fabricação</th>
        </tr>

      </thead>
      <tbody>
        <tr scope="row" *ngFor="let veiculo of Veiculos">
          <td>{{veiculo.placa}}</td>
          <td>{{veiculo.modelo}}</td>
          <td>{{veiculo.marca}}</td>
          <td>{{veiculo.cor}}</td>
          <td>{{veiculo.anoFabricacao}}</td>

        </tr>
      </tbody>
    </table>
</div>
