<div class="content">
  <div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
      <div class="serv">
        <button
          class="btn btn-light btn-dash"
          type="button"
          [routerLink]="['/condutor']"
          routerLinkActive="active"
        >
          Cadastro de Condutor
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="serv">
        <button
          class="btn btn-light btn-dash"
          type="button"
          [routerLink]="['/veiculo']"
          routerLinkActive="active"
        >
          Cadastro de Veículo
        </button>
      </div>
    </div>
  </div>
</div>
